bin
Bin
BIN
obj
Obj
OBJ
debug
Debug
DEBUG
Help
release
Release
RELEASE
test-results
Doc

.vs/
packages/
test-results/
TestResults/

*.dll
*.res
*.il
*.orig
*.ncb
*.obj
*.suo
*.user
*.swp
*.log
*.*~
_Re*
\.DS_Store
*.userprefs
*.pidb
*.zip
*.dotCover
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*
TestResult.xml
*.VisualState.xml
*.out
*.err
*.DotSettings
*.dcvr.settings
StyleCop.Cache
